@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

 * {
  box-sizing: border-box;
  font-family: 'Poppins', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #d5fdce;
} 

h1 {
  margin-top: 50px;
  text-align: center;
}

h2 {
  text-align: center;
}

.weather-card {
  height: auto;
  margin: 15px auto 0;
  padding: 15px;
  width: 420px;
}

.input-search {
  align-items: center;
  display: flex;
  position: relative;
  width: 100%;
}

.input-search input {
  background-color: #fff;
  border: none;
  border-radius: 30px;
  color: #555;
  flex: 1;
  font-size: 18px;
  height: 60px;
  margin-right: 16px;
  outline: none;
  padding: 10px 25px;
}

.input-search button {
  background-color: #a9e89b;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  height: 60px;
  outline: none;
  width: 60px;
}

.weather-details {
  margin-top: 10px;
  padding: 10px;
  text-align: center;
}

.weather-card h1 {
  font-size: 40px;
  font-weight: bold;
  margin-top: 0;
}

.weather-card h2 {
  font-size: 20px;
  font-weight: bolder;
}

.humidity-wind-details {
  display: flex;
  padding-top: 15px;
  text-align: center;
}

.col {
  width: 50%;
}

.col p {
  font-size: 18px;
}

.col h3 {
  font-size: 32px;
  font-weight: 500;
}

.cities-suggestions {
  border-radius: 10px;
  height: auto;
  position: absolute;  
  display: none;        
  top: 70px;                   
  left: 0;
  line-height: 40px;
  width: 100%;                 
  background: #ccf1c3;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-height: 250px;
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
  z-index: 100;
}

.cities-suggestions::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
} 

.suggestion {
  color: #333;
  padding: 5px 10px;
  cursor: pointer;
}

.suggestion.active {
  background-color: #21130d;
  color: #fff
}
