* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: #222;
}

h1 {
  text-align: center;
  color: white;
  margin-top: 20px;
  font-weight: 400;
}

.card {
    background: linear-gradient(135deg, #00feba, #5b548a);
    border-radius: 20px;
    width: 90%;
    max-width: 400px;
    color: white;
    margin: 50px auto 0;
    padding: 40px 35px;
    text-align: center;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative
}

.search input {
  border: none;
  outline: none;
  background: #ebfffc;
  color: #555;
  padding: 10px 25px;      
  height: 60px;
  border-radius: 30px;
  flex: 1;
  margin-right: 16px;
  font-size: 18px;
}

.search button {
  border: none;
  outline: none;
  background: #ebfffc;
  border-radius: 50%;
  cursor: pointer;
  width: 60px;
  height: 60px;
} 

.weather-icon {
    width: 170px;
    margin-top: 30px;
}

.weather h1 {
    font-size: 60px;
    font-weight: 400;
}

.weather h2 {
    font-size: 40px;
    font-weight: 300;
    margin-top: -10px;
}

.weather-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    padding: 0 20px;
}

.col {
  display: flex;
  align-items: center;
  text-align: left;
}

.col img {
  width: 40px;
  margin-right: 10px;
}

.humidity, .wind {
    font-size: 28px;
    margin-top: -6px;
}

.suggestions {
  border-radius: 7px;
  position: absolute;  
  display: none;        
  top: 75px;                   
  left: 0;
  width: 100%;                 
  background: #fff;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-height: 200px;
  overflow-y: auto;
  z-index: 100;
  text-align: left;
}

.suggestion {
  color: #333;
  padding: 5px 10px;
  cursor: pointer;
}

.suggestion.active {
  background-color: #f5f5f5;
}